In [2]:
import numpy as np
import pandas as pd

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,log_loss
from imblearn.over_sampling import SMOTE
import xgboost
from sklearn.model_selection import train_test_split

#Import and suppress warnings
import warnings
warnings.filterwarnings('ignore')

## 1. EDA

In [3]:
attrition = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
attrition.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
#Looking for NaN
attrition.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

### Correlation of Features

In [5]:
attrition.corr()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.010661,-0.001686,0.208034,NaN,-0.010145,0.010146,0.024287,0.029820,0.509604,...,0.053535,NaN,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089
DailyRate,0.010661,1.000000,-0.004985,-0.016806,NaN,-0.050990,0.018355,0.023381,0.046135,0.002966,...,0.007846,NaN,0.042143,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363
DistanceFromHome,-0.001686,-0.004985,1.000000,0.021042,NaN,0.032916,-0.016075,0.031131,0.008783,0.005303,...,0.006557,NaN,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406
Education,0.208034,-0.016806,0.021042,1.000000,NaN,0.042070,-0.027128,0.016775,0.042438,0.101589,...,-0.009118,NaN,0.018422,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeNumber,-0.010145,-0.050990,0.032916,0.042070,NaN,1.000000,0.017621,0.035179,-0.006888,-0.018519,...,-0.069861,NaN,0.062227,-0.014365,0.023603,0.010309,-0.011240,-0.008416,-0.009019,-0.009197
EnvironmentSatisfaction,0.010146,0.018355,-0.016075,-0.027128,NaN,0.017621,1.000000,-0.049857,-0.008278,0.001212,...,0.007665,NaN,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999
HourlyRate,0.024287,0.023381,0.031131,0.016775,NaN,0.035179,-0.049857,1.000000,0.042861,-0.027853,...,0.001330,NaN,0.050263,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123
JobInvolvement,0.029820,0.046135,0.008783,0.042438,NaN,-0.006888,-0.008278,0.042861,1.000000,-0.012630,...,0.034297,NaN,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976
JobLevel,0.509604,0.002966,0.005303,0.101589,NaN,-0.018519,0.001212,-0.027853,-0.012630,1.000000,...,0.021642,NaN,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281
JobSatisfaction,-0.004892,0.030571,-0.003669,-0.011296,NaN,-0.046247,-0.006784,-0.071335,-0.021476,-0.001944,...,-0.012454,NaN,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656
MonthlyIncome,0.497855,0.007707,-0.017014,0.094961,NaN,-0.014829,-0.006259,-0.015794,-0.015271,0.950300,...,0.025873,NaN,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079
MonthlyRate,0.028051,-0.032182,0.027473,-0.026084,NaN,0.012648,0.037600,-0.015297,-0.016322,0.039563,...,-0.004085,NaN,-0.034323,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746
NumCompaniesWorked,0.299635,0.038153,-0.029251,0.126317,NaN,-0.001251,0.012594,0.022157,0.015012,0.142501,...,0.052733,NaN,0.030075,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319
PercentSalaryHike,0.003634,0.022704,0.040235,-0.011111,NaN,-0.012944,-0.031701,-0.009062,-0.017205,-0.034730,...,-0.040490,NaN,0.007528,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985
PerformanceRating,0.001904,0.000473,0.027110,-0.024539,NaN,-0.020359,-0.029548,-0.002172,-0.029071,-0.021222,...,-0.031351,NaN,0.003506,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827
RelationshipSatisfaction,0.053535,0.007846,0.006557,-0.009118,NaN,-0.069861,0.007665,0.001330,0.034297,0.021642,...,1.000000,NaN,-0.045952,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.037510,0.042143,0.044872,0.018422,NaN,0.062227,0.003432,0.050263,0.021523,0.013984,...,-0.045952,NaN,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698
TotalWorkingYears,0.680381,0.014515,0.004628,0.148280,NaN,-0.014365,-0.002693,-0.002334,-0.005533,0.782208,...,0.024054,NaN,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188
TrainingTimesLastYear,-0.019621,0.002453,-0.036942,-0.025100,NaN,0.023603,-0.019359,-0.008548,-0.015338,-0.018191,...,0.002497,NaN,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096
WorkLifeBalance,-0.021490,-0.037848,-0.026556,0.009819,NaN,0.010309,0.027627,-0.004607,-0.014617,0.037818,...,0.019604,NaN,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759
YearsAtCompany,0.311309,-0.034055,0.009508,0.069114,NaN,-0.011240,0.001458,-0.019582,-0.021355,0.534739,...,0.019367,NaN,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212
YearsInCurrentRole,0.212901,0.009932,0.018845,0.060236,NaN,-0.008416,0.018007,-0.024106,0.008717,0.389447,...,-0.015123,NaN,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365
YearsSinceLastPromotion,0.216513,-0.033229,0.010029,0.054254,NaN,-0.009019,0.016194,-0.026716,-0.024184,0.353885,...,0.033493,NaN,0.014352,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.026363,0.014406,0.069065,NaN,-0.009197,-0.004999,-0.020123,0.025976,0.375281,...,-0.000867,NaN,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000

### Feature Engineering and Categorical Encoding

In [6]:
attrition.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [9]:
#Empty list to store columns with categorical data
categorical = []
for col,value in attrition.iteritems():
    if value.dtype=='object':
        categorical.append(col)
        
#Store the numerical columns in a list numerical
numerical = attrition.columns.difference(categorical)

In [10]:
#Store the categorical data in a dataframe called attrition_cat
attrition_cat = attrition[categorical]
attrition_cat = attrition_cat.drop(['Attrition'],axis=1) #Dropping the target column

In [11]:
attrition_cat

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Y,Yes
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,Y,No
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

#### Applying the get_dummies method

In [12]:
attrition_cat = pd.get_dummies(attrition_cat,drop_first=True)
attrition_cat.head()

,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Male,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,0,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
1,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,1,1
3,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
4,0,1,1,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0

In [13]:
#Store the numerical features to a dataframe attrition_num
attrition_num = attrition[numerical]

In [14]:
#Concat the two dataframes together columnwise
attrition_final = pd.concat([attrition_num,attrition_cat],axis=1)

In [15]:
attrition_final.shape

(1470, 47)

### Target variable

In [16]:
#Definte a dictionary for the target mapping
target_map = {'Yes':1,'No':0}

#applying it on the target variable
target = attrition['Attrition'].apply(lambda x:target_map[x])
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Attrition, dtype: int64

#### Splitting data into Train and Test sets

In [17]:
#Split data into train and test sets as well as for validation and testing
train, test, target_train, target_test = train_test_split(attrition_final,target,train_size=0.75,random_state=0)

### Implementing Machine Learning Models

In [18]:
gb = GradientBoostingClassifier(random_state=100)
gb.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'log_loss',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'random_state': 100,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [19]:
#Fit the model to our train and target
gb.fit(train,target_train)
#Get our predictions
gb_predictions = gb.predict(test)

In [20]:
gb_predictions_prob = gb.predict_proba(test)
gb_predictions_prob

array([[0.93565701, 0.06434299],
       [0.96798638, 0.03201362],
       [0.8747258 , 0.1252742 ],
       [0.95525024, 0.04474976],
       [0.10720351, 0.89279649],
       [0.67487367, 0.32512633],
       [0.59570909, 0.40429091],
       [0.91183264, 0.08816736],
       [0.96662071, 0.03337929],
       [0.90249265, 0.09750735],
       [0.93460885, 0.06539115],
       [0.90269076, 0.09730924],
       [0.9732961 , 0.0267039 ],
       [0.26854533, 0.73145467],
       [0.94012005, 0.05987995],
       [0.98792486, 0.01207514],
       [0.94597233, 0.05402767],
       [0.93071641, 0.06928359],
       [0.93537954, 0.06462046],
       [0.92440318, 0.07559682],
       [0.60995072, 0.39004928],
       [0.95078893, 0.04921107],
       [0.96838558, 0.03161442],
       [0.97980593, 0.02019407],
       [0.41611433, 0.58388567],
       [0.74410279, 0.25589721],
       [0.95968266, 0.04031734],
       [0.97096781, 0.02903219],
       [0.28238165, 0.71761835],
       [0.96050297, 0.03949703],
       [0.96788918, 0.03211082],
       [0.97179163, 0.02820837],
       [0.84067426, 0.15932574],
       [0.94544868, 0.05455132],
       [0.90226687, 0.09773313],
       [0.95400726, 0.04599274],
       [0.94074953, 0.05925047],
       [0.96976661, 0.03023339],
       [0.96377331, 0.03622669],
       [0.89663379, 0.10336621],
       [0.93536679, 0.06463321],
       [0.98332106, 0.01667894],
       [0.98410881, 0.01589119],
       [0.95350657, 0.04649343],
       [0.97974206, 0.02025794],
       [0.34730286, 0.65269714],
       [0.734326  , 0.265674  ],
       [0.98679715, 0.01320285],
       [0.06906253, 0.93093747],
       [0.55981352, 0.44018648],
       [0.89640601, 0.10359399],
       [0.38123614, 0.61876386],
       [0.89958212, 0.10041788],
       [0.94235559, 0.05764441],
       [0.34754774, 0.65245226],
       [0.90899903, 0.09100097],
       [0.98738149, 0.01261851],
       [0.91375204, 0.08624796],
       [0.98264537, 0.01735463],
       [0.52230632, 0.47769368],
       [0.98328889, 0.01671111],
       [0.89068306, 0.10931694],
       [0.7939958 , 0.2060042 ],
       [0.96160037, 0.03839963],
       [0.52431858, 0.47568142],
       [0.9503015 , 0.0496985 ],
       [0.83937298, 0.16062702],
       [0.92139347, 0.07860653],
       [0.93901462, 0.06098538],
       [0.96053499, 0.03946501],
       [0.94615183, 0.05384817],
       [0.64679842, 0.35320158],
       [0.87105711, 0.12894289],
       [0.97454904, 0.02545096],
       [0.92738959, 0.07261041],
       [0.95838134, 0.04161866],
       [0.97174608, 0.02825392],
       [0.95133715, 0.04866285],
       [0.39024856, 0.60975144],
       [0.9904903 , 0.0095097 ],
       [0.98936656, 0.01063344],
       [0.98239587, 0.01760413],
       [0.92623985, 0.07376015],
       [0.91732473, 0.08267527],
       [0.95262634, 0.04737366],
       [0.9415688 , 0.0584312 ],
       [0.97534841, 0.02465159],
       [0.73176455, 0.26823545],
       [0.93280941, 0.06719059],
       [0.9641662 , 0.0358338 ],
       [0.36710753, 0.63289247],
       [0.92399661, 0.07600339],
       [0.91536333, 0.08463667],
       [0.72337756, 0.27662244],
       [0.9812496 , 0.0187504 ],
       [0.97427402, 0.02572598],
       [0.91268371, 0.08731629],
       [0.58076508, 0.41923492],
       [0.9750204 , 0.0249796 ],
       [0.94512062, 0.05487938],
       [0.70844125, 0.29155875],
       [0.57864009, 0.42135991],
       [0.39627141, 0.60372859],
       [0.96413762, 0.03586238],
       [0.96762482, 0.03237518],
       [0.97079132, 0.02920868],
       [0.93032305, 0.06967695],
       [0.60862764, 0.39137236],
       [0.79467937, 0.20532063],
       [0.90655189, 0.09344811],
       [0.6016952 , 0.3983048 ],
       [0.83654554, 0.16345446],
       [0.97530366, 0.02469634],
       [0.97583913, 0.02416087],
       [0.95294397, 0.04705603],
       [0.93197515, 0.06802485],
       [0.93041016, 0.06958984],
       [0.90769537, 0.09230463],
       [0.98557938, 0.01442062],
       [0.98362227, 0.01637773],
       [0.96164286, 0.03835714],
       [0.96982133, 0.03017867],
       [0.96385867, 0.03614133],
       [0.0756317 , 0.9243683 ],
       [0.86954363, 0.13045637],
       [0.97879038, 0.02120962],
       [0.9855657 , 0.0144343 ],
       [0.9119507 , 0.0880493 ],
       [0.92456398, 0.07543602],
       [0.94858026, 0.05141974],
       [0.9872703 , 0.0127297 ],
       [0.47404527, 0.52595473],
       [0.38559002, 0.61440998],
       [0.52259566, 0.47740434],
       [0.91229426, 0.08770574],
       [0.54758814, 0.45241186],
       [0.5725848 , 0.4274152 ],
       [0.94456459, 0.05543541],
       [0.89958406, 0.10041594],
       [0.96160709, 0.03839291],
       [0.97416864, 0.02583136],
       [0.90863907, 0.09136093],
       [0.93883612, 0.06116388],
       [0.88314526, 0.11685474],
       [0.86328253, 0.13671747],
       [0.97114495, 0.02885505],
       [0.85196219, 0.14803781],
       [0.96787343, 0.03212657],
       [0.9403826 , 0.0596174 ],
       [0.9763716 , 0.0236284 ],
       [0.95952635, 0.04047365],
       [0.89956293, 0.10043707],
       [0.93535396, 0.06464604],
       [0.49291552, 0.50708448],
       [0.95151238, 0.04848762],
       [0.87336404, 0.12663596],
       [0.98965756, 0.01034244],
       [0.66373239, 0.33626761],
       [0.95835072, 0.04164928],
       [0.97237048, 0.02762952],
       [0.80268202, 0.19731798],
       [0.98874212, 0.01125788],
       [0.73701232, 0.26298768],
       [0.06669672, 0.93330328],
       [0.97304447, 0.02695553],
       [0.88136404, 0.11863596],
       [0.84825765, 0.15174235],
       [0.97589194, 0.02410806],
       [0.97437554, 0.02562446],
       [0.98202917, 0.01797083],
       [0.95854613, 0.04145387],
       [0.94636793, 0.05363207],
       [0.95741313, 0.04258687],
       [0.75088252, 0.24911748],
       [0.97954369, 0.02045631],
       [0.89784585, 0.10215415],
       [0.94707848, 0.05292152],
       [0.67584464, 0.32415536],
       [0.8703449 , 0.1296551 ],
       [0.92119494, 0.07880506],
       [0.9637236 , 0.0362764 ],
       [0.97599002, 0.02400998],
       [0.98832058, 0.01167942],
       [0.47231609, 0.52768391],
       [0.96781548, 0.03218452],
       [0.98375234, 0.01624766],
       [0.67955053, 0.32044947],
       [0.93801489, 0.06198511],
       [0.93466502, 0.06533498],
       [0.89706691, 0.10293309],
       [0.84354345, 0.15645655],
       [0.43492855, 0.56507145],
       [0.90723306, 0.09276694],
       [0.98643898, 0.01356102],
       [0.96533722, 0.03466278],
       [0.90149835, 0.09850165],
       [0.97055671, 0.02944329],
       [0.96266541, 0.03733459],
       [0.15929505, 0.84070495],
       [0.94441642, 0.05558358],
       [0.83846619, 0.16153381],
       [0.93425195, 0.06574805],
       [0.82814431, 0.17185569],
       [0.97975928, 0.02024072],
       [0.93035   , 0.06965   ],
       [0.87771066, 0.12228934],
       [0.75062483, 0.24937517],
       [0.98257861, 0.01742139],
       [0.93927631, 0.06072369],
       [0.97592144, 0.02407856],
       [0.9458585 , 0.0541415 ],
       [0.96629151, 0.03370849],
       [0.84589703, 0.15410297],
       [0.90637916, 0.09362084],
       [0.96269362, 0.03730638],
       [0.97607113, 0.02392887],
       [0.98028889, 0.01971111],
       [0.89488696, 0.10511304],
       [0.96990472, 0.03009528],
       [0.56555111, 0.43444889],
       [0.67931907, 0.32068093],
       [0.54334932, 0.45665068],
       [0.55543556, 0.44456444],
       [0.53744704, 0.46255296],
       [0.77028917, 0.22971083],
       [0.97308401, 0.02691599],
       [0.9423179 , 0.0576821 ],
       [0.65296202, 0.34703798],
       [0.16542205, 0.83457795],
       [0.92976288, 0.07023712],
       [0.98313253, 0.01686747],
       [0.58095626, 0.41904374],
       [0.96590383, 0.03409617],
       [0.9446239 , 0.0553761 ],
       [0.96543408, 0.03456592],
       [0.61090121, 0.38909879],
       [0.83374997, 0.16625003],
       [0.98739299, 0.01260701],
       [0.88972367, 0.11027633],
       [0.98618656, 0.01381344],
       [0.79412282, 0.20587718],
       [0.80828789, 0.19171211],
       [0.96566286, 0.03433714],
       [0.95749394, 0.04250606],
       [0.90077865, 0.09922135],
       [0.95847997, 0.04152003],
       [0.97360924, 0.02639076],
       [0.70740211, 0.29259789],
       [0.91080278, 0.08919722],
       [0.91445033, 0.08554967],
       [0.90527902, 0.09472098],
       [0.80980869, 0.19019131],
       [0.65201696, 0.34798304],
       [0.95770402, 0.04229598],
       [0.81255845, 0.18744155],
       [0.9094101 , 0.0905899 ],
       [0.9725034 , 0.0274966 ],
       [0.41743531, 0.58256469],
       [0.83519483, 0.16480517],
       [0.47639829, 0.52360171],
       [0.86141498, 0.13858502],
       [0.9637103 , 0.0362897 ],
       [0.91918814, 0.08081186],
       [0.93265125, 0.06734875],
       [0.86471598, 0.13528402],
       [0.77026641, 0.22973359],
       [0.97422721, 0.02577279],
       [0.72280262, 0.27719738],
       [0.88271462, 0.11728538],
       [0.97553946, 0.02446054],
       [0.95224078, 0.04775922],
       [0.9679991 , 0.0320009 ],
       [0.91957768, 0.08042232],
       [0.95500254, 0.04499746],
       [0.97067222, 0.02932778],
       [0.98486846, 0.01513154],
       [0.93458819, 0.06541181],
       [0.77866988, 0.22133012],
       [0.92408587, 0.07591413],
       [0.68265748, 0.31734252],
       [0.77628948, 0.22371052],
       [0.9667577 , 0.0332423 ],
       [0.91257487, 0.08742513],
       [0.80355051, 0.19644949],
       [0.89981858, 0.10018142],
       [0.86615199, 0.13384801],
       [0.9892892 , 0.0107108 ],
       [0.92522834, 0.07477166],
       [0.96782929, 0.03217071],
       [0.97892489, 0.02107511],
       [0.94646886, 0.05353114],
       [0.67063616, 0.32936384],
       [0.96369391, 0.03630609],
       [0.95216665, 0.04783335],
       [0.94538482, 0.05461518],
       [0.97189633, 0.02810367],
       [0.91364384, 0.08635616],
       [0.88100739, 0.11899261],
       [0.02117899, 0.97882101],
       [0.97272128, 0.02727872],
       [0.92115816, 0.07884184],
       [0.90780413, 0.09219587],
       [0.72950427, 0.27049573],
       [0.8951737 , 0.1048263 ],
       [0.97665344, 0.02334656],
       [0.95659654, 0.04340346],
       [0.57242172, 0.42757828],
       [0.91330085, 0.08669915],
       [0.98054014, 0.01945986],
       [0.96919576, 0.03080424],
       [0.81865074, 0.18134926],
       [0.95688637, 0.04311363],
       [0.92797594, 0.07202406],
       [0.95154874, 0.04845126],
       [0.86546377, 0.13453623],
       [0.9248735 , 0.0751265 ],
       [0.87074583, 0.12925417],
       [0.91926061, 0.08073939],
       [0.65740748, 0.34259252],
       [0.95915564, 0.04084436],
       [0.46976691, 0.53023309],
       [0.96773721, 0.03226279],
       [0.8891206 , 0.1108794 ],
       [0.80946892, 0.19053108],
       [0.95917778, 0.04082222],
       [0.97471494, 0.02528506],
       [0.75506241, 0.24493759],
       [0.77249679, 0.22750321],
       [0.98942762, 0.01057238],
       [0.96029681, 0.03970319],
       [0.9613668 , 0.0386332 ],
       [0.84705065, 0.15294935],
       [0.88180324, 0.11819676],
       [0.1788453 , 0.8211547 ],
       [0.7830227 , 0.2169773 ],
       [0.75511179, 0.24488821],
       [0.94148827, 0.05851173],
       [0.97666987, 0.02333013],
       [0.9729796 , 0.0270204 ],
       [0.93972698, 0.06027302],
       [0.8799975 , 0.1200025 ],
       [0.5158928 , 0.4841072 ],
       [0.92327597, 0.07672403],
       [0.92408396, 0.07591604],
       [0.92874476, 0.07125524],
       [0.94676555, 0.05323445],
       [0.95032097, 0.04967903],
       [0.62347815, 0.37652185],
       [0.96256745, 0.03743255],
       [0.73724028, 0.26275972],
       [0.98616628, 0.01383372],
       [0.87827909, 0.12172091],
       [0.95115068, 0.04884932],
       [0.93096409, 0.06903591],
       [0.94330826, 0.05669174],
       [0.96493713, 0.03506287],
       [0.97654677, 0.02345323],
       [0.95164362, 0.04835638],
       [0.97444394, 0.02555606],
       [0.55539781, 0.44460219],
       [0.98697199, 0.01302801],
       [0.97270227, 0.02729773],
       [0.95231731, 0.04768269],
       [0.93926764, 0.06073236],
       [0.95959262, 0.04040738],
       [0.89693904, 0.10306096],
       [0.96830878, 0.03169122],
       [0.71768736, 0.28231264]])

In [21]:
accuracy_score(target_test,gb_predictions)

0.8885869565217391

### Feature Importance Gradient Boosting Model

In [22]:
gb.feature_importances_

array([0.06206648, 0.06423625, 0.0298031 , 0.00256078, 0.        ,
       0.03719974, 0.0335136 , 0.02076188, 0.03522262, 0.03448242,
       0.0246517 , 0.09702742, 0.03175668, 0.0326188 , 0.01755939,
       0.        , 0.01168101, 0.        , 0.04073732, 0.04581904,
       0.01072167, 0.02407653, 0.02877356, 0.00696455, 0.03001595,
       0.06333473, 0.02222988, 0.        , 0.00298006, 0.00151816,
       0.00140648, 0.00643378, 0.00243027, 0.        , 0.00649126,
       0.00327118, 0.00015121, 0.01231478, 0.        , 0.00336605,
       0.        , 0.00423302, 0.01078424, 0.01084116, 0.00198427,
       0.01805004, 0.10592893])

In [23]:
train.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='object')

In [28]:
#Checking out the feature importances
pd.DataFrame({'Features':train.columns,
            'Imp':gb.feature_importances_}).sort_values(by = 'Imp',ascending=False).reset_index()

    index                           Features       Imp
0      46                       OverTime_Yes  0.105929
1      11                      MonthlyIncome  0.097027
2       1                          DailyRate  0.064236
3      25               YearsWithCurrManager  0.063335
4       0                                Age  0.062066
5      19                  TotalWorkingYears  0.045819
6      18                   StockOptionLevel  0.040737
7       5                     EmployeeNumber  0.037200
8       8                     JobInvolvement  0.035223
9       9                           JobLevel  0.034482
10      6            EnvironmentSatisfaction  0.033514
11     13                 NumCompaniesWorked  0.032619
12     12                        MonthlyRate  0.031757
13     24            YearsSinceLastPromotion  0.030016
14      2                   DistanceFromHome  0.029803
15     22                     YearsAtCompany  0.028774
16     10                    JobSatisfaction  0.024652
17     21                    WorkLifeBalance  0.024077
18     26   BusinessTravel_Travel_Frequently  0.022230
19      7                         HourlyRate  0.020762
20     45               MaritalStatus_Single  0.018050
21     14                  PercentSalaryHike  0.017559
22     37      JobRole_Laboratory Technician  0.012315
23     16           RelationshipSatisfaction  0.011681
24     43       JobRole_Sales Representative  0.010841
25     42            JobRole_Sales Executive  0.010784
26     20              TrainingTimesLastYear  0.010722
27     23                 YearsInCurrentRole  0.006965
28     34    EducationField_Technical Degree  0.006491
29     31           EducationField_Marketing  0.006434
30     41         JobRole_Research Scientist  0.004233
31     39     JobRole_Manufacturing Director  0.003366
32     35                        Gender_Male  0.003271
33     28  Department_Research & Development  0.002980
34      3                          Education  0.002561
35     32             EducationField_Medical  0.002430
36     44              MaritalStatus_Married  0.001984
37     29                   Department_Sales  0.001518
38     30       EducationField_Life Sciences  0.001406
39     36            JobRole_Human Resources  0.000151
40     17                      StandardHours  0.000000
41     40          JobRole_Research Director  0.000000
42     38                    JobRole_Manager  0.000000
43     27       BusinessTravel_Travel_Rarely  0.000000
44      4                      EmployeeCount  0.000000
45     15                  PerformanceRating  0.000000
46     33               EducationField_Other  0.000000