In [108]:
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Naive-Bayes/main/SpamClassifier-with-ML/sms_spam_data/SMSSpamCollection.csv",header=None,delimiter="\t",names =['labels','messages'] )

In [109]:
data.head()

  labels                                           messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [110]:
data.shape

(5572, 2)

In [111]:
#regular expression 
import re
#stopwords
import nltk
nltk.download('stopwords')
stopwords = set(nltk.corpus.stopwords.words('english'))
stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Prince\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [112]:
#stemming
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [113]:
#using re
rev = re.sub('[^a-zA-Z]',' ',data['messages'][0])
rev

'Go until jurong point  crazy   Available only in bugis n great world la e buffet    Cine there got amore wat   '

In [114]:
df = data
df.head()

  labels                                           messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [115]:
#substituted all the non alphabetic characters from messages
df['messages'] = df['messages'].map(lambda x: re.sub('[^a-zA-Z]',' ',x))
df.head()

  labels                                           messages
0    ham  Go until jurong point  crazy   Available only ...
1    ham                      Ok lar    Joking wif u oni
2   spam  Free entry in   a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor    U c already then say
4    ham  Nah I don t think he goes to usf  he lives aro...

In [116]:
df['messages'][0].lower()

'go until jurong point  crazy   available only in bugis n great world la e buffet    cine there got amore wat   '

In [117]:
# making all the words lower cases
for i in range(df.shape[0]):
    df['messages'][i] = df['messages'][i].lower() #making the sentence lowercase

In [118]:
df.head()

  labels                                           messages
0    ham  go until jurong point  crazy   available only ...
1    ham                      ok lar    joking wif u oni
2   spam  free entry in   a wkly comp to win fa cup fina...
3    ham  u dun say so early hor    u c already then say
4    ham  nah i don t think he goes to usf  he lives aro...

In [119]:
#removing the stopwords and stemming
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
for i in range(df.shape[0]):
    df['messages'][i] = list(set(df['messages'][i].split())-stopwords)
    df['messages'][i] = ' '.join(df['messages'][i])
    df['messages'][i] = [ps.stem(word) for word in (df['messages'][i].split())]

In [121]:
for i in range(X.shape[0]):
    df['messages'][i] = ' '.join(df['messages'][i])

In [122]:
df['messages']

0       la bugi crazi jurong great point go n e wat go...
1                                   ok oni wif lar u joke
2       txt st may appli question entri wkli free tkt ...
3                           c earli alreadi dun u say hor
4                    usf goe live around though nah think
                              ...
5567    nd per time easi prize bt call rate claim poun...
5568                                b go fr esplanad home
5569                                    piti mood suggest
5570    someth free interest bitch buy gave guy week n...
5571                                       rofl name true
Name: messages, Length: 5572, dtype: object

In [123]:
#dividing the input and output columns
df.columns

Index(['labels', 'messages'], dtype='object')

In [124]:
X = df['messages']
y = df['labels']

In [129]:
y = pd.get_dummies(y,drop_first=True)

In [130]:
df.head()

  labels                                           messages
0    ham  la bugi crazi jurong great point go n e wat go...
1    ham                              ok oni wif lar u joke
2   spam  txt st may appli question entri wkli free tkt ...
3    ham                      c earli alreadi dun u say hor
4    ham               usf goe live around though nah think

In [131]:
#splitting the dataset into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33)
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit(X_train)
X_train = vectorizer.transform(X_train)
X_test = vectorizer.transform(X_test)

In [132]:
X_train.shape,X_test.shape

((3733, 5145), (1839, 5145))

In [139]:
X_train.shape

(3733, 5145)

In [140]:
X_test.shape

(1839, 5145)

In [142]:
#Lets import Naive Bayes here
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
NB1 = MultinomialNB()
NB1.fit(X_train,y_train)
y_pred1 = NB1.predict(X_test)
score = accuracy_score(y_test,y_pred1)
score

C:\Users\Prince\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9836867862969005

- In this case we are getting 98.3% accuracy