In [1]:
import pandas as pd
import numpy as np

In [2]:
ages = [10,12,34,21,23,64,23,67,43,23,35,32,21,23,46,43,21,54,72,89,34,21,10,15,20,19,18,17,16,71,80,44]

In [3]:
len(ages)

32

In [4]:
np.mean(ages)

35.03125

Ho mean=35  ##Null hypothesis
H1 mean!=35 ## Alternate hypothesis

In [6]:
sample_size = 10
age_sample = np.random.choice(ages,sample_size)

In [7]:
age_sample

array([34, 20, 35, 15, 32, 19, 23, 80, 21, 32])

In [8]:
np.mean(age_sample)

31.1

In [9]:
from scipy.stats import ttest_1sampp

In [10]:
_,p_value = ttest_1samp(age_sample,np.mean(ages))

In [11]:
p_value

0.5206196456116141

In [14]:
if p_value<0.05:  #95% confidence interval
    print("we are rejecting null hypothesis")
else:
    print("we fail to reject the null hypothesis")

we fail to reject the null hypothesis

In [17]:
from sklearn.datasets import fetch_openml
housing = fetch_openml(name="house_prices",as_frame = True)
df=housing['data']
df.head()

C:\Users\Prince\anaconda3\lib\site-packages\sklearn\datasets\_openml.py:932: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,0,0,None,None,None,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,0,0,None,None,None,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,0,0,None,None,None,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,0,0,None,None,None,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,0,0,None,None,None,0,12,2008,WD,Normal

california housing dataset

In [18]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
Length: 80, dtype: int64

In [24]:
pd.read_csv(r"C:\Users\Prince\Downloads\Algerian_forest_fires_dataset_UPDATE.csv",header=1)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [ ]:
#Assignments- EDA on algerian dataset
#Assignments-Housing Dataset(California)
krish.naik@ineuron.ai