In [2]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [9]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end =' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [24]:
n = 5
for i in range(1,6):
    for j in range(n,0,-1):
        print(i,end = ' ')
    n = n-1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [22]:
list(range(5,0,-1))

[]

In [30]:
n =5
for i in range(0,5):
    for j in range(n,0,-1):
        print("5",end = ' ')
    n = n-1
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [32]:
n = 6
for i in range(0,5):
    for j in range(0,n):
            print(j,end = ' ')
    n = n-1
    print( )

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [37]:
n = 1
for i in range(1,6):
    for j in range(n,n+1):
        print(str(n)*i)
    n = n+2
    print( )

1
33
555
7777
99999

In [41]:
for i in range(5,0,-1):
    for j in range(i,i+1):
        print(f"{str(j)} "*i)
    print( )

5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [44]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end = ' ')
    print( )

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [46]:
n = 5
for i in range(1,6):
    for j in range(n,0,-1):
        print(j,end = ' ')
    n = n-1
    print( )

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [48]:
n = 1
for i in range(1,5):
    for j in range(n,n+1):
        print(j, end = ' ')
    n = n+1
    print( )

1
2
3
4